
body{
    height: 1000px;
    width: 1000px;
}
.small-box{
background-color: aqua;
width: 5em;
height: 5em;
font-size: 32px;


}
.big-box{
font-size: 64px;
width: 7em;
background-color: bisque;
height: 7em;

}