
span{
    background-color: antiquewhite;
    width: 100px;
    height: 200px;
    padding:20px;
    margin-top: 20px;
}
/*inline elements are very uncertain as the width and height is not applied to that element
(to apply width}
we use padding (weird part is it is slient from up and down -->(attached over any element))*/

/*
exception:-
img
iframe
video
we can apply width and height in it...

*/


/*as from word (-------------inline--------------) all is applied in a line */



/*<<<<<<<inline>>>>>>>>
inline are two types:
1.replaced inline element
2.unreplaced inline element*/
p{
    background-color: aqua;
    width: 100px;
    ;
}

.btn{
    border-left:10px solid red;
    border-right:10px solid red;
    border-top: 5px dashed;
}